<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-grid.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{$basePath}/css/smoothproducts.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/smoothproducts.min.js"></script>


	<title>{ifset title}{include title|stripHtml} | {/ifset}Stehlík E-Shop</title>
</head>

<body>
{foreach $flashes as $flash}
	<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

	{include 'nav.latte'}

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/bootstrap.js"></script>


    {/block}
</body>
</html>
